<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let route of iRoutes">
        <a *ngIf="route.title" mat-list-item routerLink="{{ route.link }}">
          <mat-icon>{{ route.icon }}</mat-icon>
          <span>{{ route.title }}</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gabriel's Awesome Hero Editor</span>
    </mat-toolbar>

    <!-- child content -->
    <div class="hero-content">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
