<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <!-- details of a hero -->
  <div class="gm-hero-detail">
    <span>id: </span>{{ hero.id }}
  </div>
  <app-big-input [label]="label" [placeholder]="placeholder" [value]="hero.name" (changed)="onChange($event)"></app-big-input>
  <div class="gm-hero-button-bar">
    <!-- back button -->
    <button mat-button (click)="goBack()">Go back</button>
    <!-- submit button -->
    <button mat-button class="gm-hero-color-primary" *ngIf="isCreating && hero.name !== ''" (click)="createNewHero()">Submit</button>
    <!-- delete button -->
    <button mat-button class="gm-hero-color-accent" *ngIf="!isCreating" (click)="deleteHero()">Delete</button>
  </div>
</div>
