$theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$theme-accent: mat-palette($mat-amber, 100, 300, 500);
$theme-warn: mat-palette($mat-red, A200);

$the-awesome-theme: mat-dark-theme(
  $theme-primary,
  $theme-accent,
  $theme-warn
);
