<div id="gmHeroDashboard">
  <h3>Top Heroes</h3>
  <mat-divider class="gm-hero-divider"></mat-divider>
  <mat-grid-list cols="6">
    <mat-grid-tile *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
      <table class="gm-hero-table">
        <tbody>
          <td class="gm-hero-tile">
            <div>
              <h4 class="gm-hero-title">{{ hero.name }}</h4>
              <p class="subtitle">Ein Superheld</p>
            </div>
          </td>
        </tbody>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>
